@use "/src/app/styles/abstracts/variables" as var;

.mainLayout {
  margin: 0 auto;
  max-width: 600px;
  min-height: 100vh; /* Fallback */
  min-height: calc(var(--vh, 1vh) * 100);
  height: calc(var(--vh, 1vh) * 100);
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  border: 1px solid #d8d8d8;
  position: relative;
  overflow: hidden;
}

.mainContent {
  flex: 1;
  overflow-y: auto;
  position: relative;
  
  &.withHeader {
    // padding-top: var(--header-height, 48px);
  }
}
