@use "/src/app/styles/abstracts/mixins";
@use "/src/app/styles/abstracts/variables";

.chips {
  padding: 4px 12px 4px 8px;
  max-width: fit-content;
  height: 24px;

  background-color: #6a635c;
  border-radius: 9999px;
  color: #fff;
  @include mixins.apply-text-style(b2_bold);

  display: flex;
  align-items: center;
  gap: 8px;

  p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
