@use "/src/app/styles/abstracts/variables" as *;

button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;

  cursor: pointer;
}

.imgBtn {
  background: transparent;
  padding: 0;
}
