@use "@app/styles/abstracts/mixins";
@use "@app/styles/abstracts/variables" as var;



.notFoundContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding: 0 16px;

    img {
      margin-bottom: 8px;
    }

    .notFoundText {
      margin-top: 20px;
      text-align: center;

      &__main {
        @include mixins.apply-text-style(b1_bold);
        color: var.$semantic-text-icon-primary;
        margin-bottom: 4px;
      }

      &__sub {
        @include mixins.apply-text-style(b2_regular);
        color: var.$semantic-text-icon-secondary;
      }
    }
    
    .writeReviewButton {
      margin-top: 16px;
      width: 117px;
      height: 40px;
      background-color: var.$semantic-background-button-default;
      color: var.$primitive-system-white;
      border-radius: var.$radius-radius-md;
      @include mixins.apply-text-style(b1_bold);
    }
  }
  
  .tag {
    padding: 4px 12px 4px 8px;
    height: 32px;
    border: 1px solid var.$semantic-border-secondary;
    background-color: var.$semantic-background-primary;
    transition: all 0.2s ease;
    border-radius: var.$radius-radius-md;
    
  .content {
    color: var.$semantic-text-icon-primary;
    @include mixins.apply-text-style(b2_regular);
  }
  }  