@use "@app/styles/abstracts/mixins";
@use "@app/styles/abstracts/_variables" as var;

.container {
  --star-rating-gap: 8px;
  --star-rating-width: 100%;
  --stars-gap: 0px;
  --stars-background: transparent;
  --stars-border-radius: 0px;
  --stars-height: auto;
  --stars-justify: center;
  
  display: flex;
  align-items: center;
  gap: var(--star-rating-gap);
  width: var(--star-rating-width);
}

.stars {
  display: flex;
  align-items: center;
  justify-content: var(--stars-justify);
  gap: var(--stars-gap);
  background: var(--stars-background);
  border-radius: var(--stars-border-radius);
  height: var(--stars-height);
}

.star {
  width: 36px;
  height: 36px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.interactiveStar {
  cursor: pointer;
  transition: all 0.2s ease;
}

.staticStar {
  cursor: default;
}

.ratingText {
  color: var.$semantic-text-icon-brand;
  @include mixins.apply-text-style(b2_bold);
}

.ratingTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.ratingValue {
  @include mixins.apply-text-style(b2_bold);
  margin-top: 2px;
  margin-bottom: 16px;
  
  &.low {
    color: var.$primitive-secondary-brown500;
  }
  
  &.medium, 
  &.high {
    color: var.$semantic-text-icon-brand;  
  }
}

.ratingDescription {
  @include mixins.apply-text-style(b2_bold);
}
