@use "/src/app/styles/abstracts/mixins";
@use "@app/styles/abstracts/_variables" as *;

.container {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
}

.stars {
  display: flex;
  align-items: center;
  justify-content: center;
}

.star {
  width: 36px;
  height: 36px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.interactiveStar {
  cursor: pointer;
  transition: all 0.2s ease;
}

.staticStar {
  cursor: default;
}

.ratingText {
  color: var(--semantic-text-icon-brand);
  @include mixins.apply-text-style(b2_bold);
}
