:root {
  --header-height: 48px;
}

$primitive-primary-orange50: rgba(255, 243, 233, 1);
$primitive-primary-orange100: rgba(255, 218, 186, 1);
$primitive-primary-orange200: rgba(255, 201, 153, 1);
$primitive-primary-orange300: rgba(255, 176, 107, 1);
$primitive-primary-orange400: rgba(255, 161, 78, 1);
$primitive-primary-orange500: rgba(255, 137, 34, 1);
$primitive-primary-orange600: rgba(232, 125, 31, 1);
$primitive-primary-orange700: rgba(181, 97, 24, 1);
$primitive-primary-orange800: rgba(140, 75, 19, 1);
$primitive-primary-orange900: rgba(107, 58, 14, 1);
$primitive-secondary-brown50: rgba(249, 248, 246, 1);
$primitive-secondary-brown100: rgba(235, 232, 228, 1);
$primitive-secondary-brown200: rgba(226, 221, 215, 1);
$primitive-secondary-brown300: rgba(213, 205, 196, 1);
$primitive-secondary-brown400: rgba(205, 195, 185, 1);
$primitive-secondary-brown500: rgba(192, 180, 167, 1);
$primitive-secondary-brown600: rgba(175, 164, 152, 1);
$primitive-secondary-brown700: rgba(136, 128, 119, 1);
$primitive-secondary-brown800: rgba(106, 99, 92, 1);
$primitive-secondary-brown900: rgba(81, 76, 70, 1);
$primitive-gray-gray50: rgba(248, 248, 248, 1);
$primitive-gray-gray100: rgba(241, 241, 241, 1);
$primitive-gray-gray200: rgba(229, 229, 229, 1);
$primitive-gray-gray300: rgba(215, 215, 215, 1);
$primitive-gray-gray400: rgba(186, 186, 186, 1);
$primitive-gray-gray500: rgba(143, 143, 143, 1);
$primitive-gray-gray600: rgba(118, 118, 118, 1);
$primitive-gray-gray700: rgba(86, 86, 86, 1);
$primitive-gray-gray800: rgba(50, 50, 50, 1);
$primitive-gray-gray900: rgba(18, 18, 18, 1);

$semantic-text-icon-primary: #121212;
$semantic-text-icon-secondary: #767676;
$semantic-text-icon-brand: #ff8922;
$semantic-text-icon-button-default: #ffffff;
$semantic-background-primary: #ffffff;
$semantic-background-button-default: #ff8922;
$semantic-border-primary: #e5e5e5;
$semantic-border-secondary: #e2ddd7;
$semantic-border-focus: #ffb06b;

$primitive-system-error: rgba(255, 77, 77, 1);
$primitive-system-success: rgba(76, 175, 80, 1);
$primitive-system-warning: rgba(255, 204, 0, 1);
$primitive-system-white: rgba(255, 255, 255, 1);

$radius-radius-sm: 4px;
$radius-radius-md: 8px;
$radius-radius-lg: 16px;
$radius-radius-xl: 32px;
$radius-circle: 9999px;

$spacing-0: 0px;
$spacing-2: 2px;
$spacing-4: 4px;
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-24: 24px;
$spacing-28: 28px;
$spacing-32: 32px;
$spacing-36: 36px;
$spacing-40: 40px;
$spacing-44: 44px;
$spacing-48: 48px;
$spacing-52: 52px;
$spacing-56: 56px;
$spacing-60: 60px;
$spacing-64: 64px;

$text-styles: (
  h_bold: (
    font-size: 32px,
    font-weight: bold,
  ),
  h_regular: (
    font-size: 32px,
    font-weight: 400,
  ),
  t1_bold: (
    font-size: 24px,
    font-weight: bold,
  ),
  t1_regular: (
    font-size: 24px,
    font-weight: 400,
  ),
  t2_bold: (
    font-size: 20px,
    font-weight: bold,
  ),
  t2_regular: (
    font-size: 20px,
    font-weight: 400,
  ),
  b1_bold: (
    font-size: 16px,
    font-weight: bold,
  ),
  b1_regular: (
    font-size: 16px,
    font-weight: 400,
  ),
  b2_bold: (
    font-size: 12px,
    font-weight: bold,
  ),
  b2_regular: (
    font-size: 12px,
    font-weight: 400,
  ),
  l_bold: (
    font-size: 10px,
    font-weight: bold,
  ),
  l_regular: (
    font-size: 10px,
    font-weight: 400,
  ),
);
