@use "/src/app/styles/abstracts/mixins";
@use "/src/app/styles/abstracts/variables" as var;

.reviewContent {
  margin: 10px 0;
  p {
    @include mixins.apply-text-style(b2_regular);
  }
  button {
    padding: 0;
    width: auto;
    height: 18px;
    gap: 4px;
    @include mixins.apply-text-style(b2_regular);
    color: var.$semantic-text-icon-secondary;
    background-color: #fff;
    border-radius: 0;
    .imgNormal {
      transition: transform 0.3s ease;
    }
    .imgRotated {
      transform: rotate(180deg);
      transition: transform 0.3s ease;
    }
  }
}
