@use "@app/styles/abstracts/mixins";
@use "@app/styles/abstracts/variables" as var;

.divider {
    height: 8px;
    background-color: var.$primitive-gray-gray100;
  }
  
  .ratingWrapper {
    padding: 0 16px;
    margin-top: 16px;
  }
  
  .ratingHeader {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 8px;
  }
  
  .ratingLabel {
    display: block;
    @include mixins.apply-text-style(b1_bold);
  }
  
  .reviewCount {
    @include mixins.apply-text-style(b2_regular);
    color: var.$semantic-text-icon-secondary;
  }
  
  .ratingScore {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .ratingText {
    @include mixins.apply-text-style(t1_bold);
    color: var.$semantic-text-icon-brand;
  }
  
  .ratingScoreContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    height: 80px;
    background-color: #F9F8F6;
    border-radius: 8px;
    padding: 20px 52px;
    position: relative;
  }
  
  .noRatingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding: 0 16px;

    img {
      margin-bottom: 8px;
    }

    .noRatingText {
      margin-top: 20px;
      text-align: center;

      &__main {
        @include mixins.apply-text-style(b1_bold);
        color: var.$semantic-text-icon-primary;
        margin-bottom: 4px;
      }

      &__sub {
        @include mixins.apply-text-style(b2_regular);
        color: var.$semantic-text-icon-secondary;
      }
    }

    .writeReviewButton {
      margin-top: 16px;
      width: 117px;
      height: 40px;
      background-color: var.$semantic-background-button-default;
      color: var.$primitive-system-white;
      border-radius: var.$radius-radius-md;
      @include mixins.apply-text-style(b1_bold);
    }
  }
  
  .starRatingStars {
    --stars-gap: 8px;
    --stars-background: #f9f8f6;
    --stars-border-radius: 8px;
    --stars-height: 80px;
    gap: 8px;
    width: 100%;
    height: 80px;
    background-color: #f9f8f6;
    border-radius: 8px;
  }