@use "@shared/ui/input/Input.module.scss";
@use "@app/styles/abstracts/variables" as var;
@use "@app/styles/abstracts/mixins";

$bottom-nav-height: 34px;
$button-height: 56px;
$spacing: 32px;

.container {
  // padding-bottom: calc(#{$bottom-nav-height} + #{$button-height} + #{$spacing});
  padding-bottom: calc(#{$button-height});
  position: relative;
  z-index: 1;

  .inputLabel {
    color: #121212;
  }

  .tagContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    // background-color: #F9F8F6;
    border-radius: 8px;
  }
}

.tagSection {
  h3 {
    font-size: 14px;
    font-weight: 600;
    color: #374151;
    margin-bottom: 8px;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}

.reviewLabelContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .reviewSubLabel {
    color: var.$semantic-text-icon-primary;
    @include mixins.apply-text-style(b2_bold);
  }
}

.charCount {
  color: var.$semantic-text-icon-secondary;
  @include mixins.apply-text-style(b2_regular);
}

.reviewTextarea {
  width: 100%;
  min-height: 120px;
  padding: 12px;
  border-radius: 4px;
  background-color: #ffffff;
  color: var.$semantic-text-icon-primary;
  resize: vertical;
  border: 1px solid var.$semantic-border-secondary;

  &::placeholder {
    color: var.$primitive-secondary-brown400;
  }

  &:focus {
    outline: none;
  }
}

.photoCount {
  color: var.$semantic-text-icon-secondary;
  @include mixins.apply-text-style(b2_regular);
  display: flex;
  justify-content: flex-end;
  margin: 4px 0;
}

.buttonOverlay {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  max-width: 590px;
  height: calc(#{$bottom-nav-height} + #{$button-height} + #{$spacing});
  background: white;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.9) 15%,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );
  z-index: 2;
}

.submitButton {
  position: fixed;
  left: 50%;
  bottom: 34px;
  transform: translateX(-50%);
  width: calc(100% - 32px);
  max-width: 600px;
  height: 56px;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  background-color: #ff8922;
  color: white;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  z-index: 3;

  @media screen and (min-width: 600px) {
    width: calc(600px - 32px);
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

.starRatingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f9f8f6;
  border-radius: 8px;
}

.starRatingStars {
  --stars-gap: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 100%;
  
  &.noMarginBottom {
    margin-bottom: 0;
  }
}

.errorInput {
  border-radius: var.$radius-radius-md;
  box-shadow: inset 0 0 0 1px var.$primitive-system-error;
}

.divider {
  height: 8px;
  background-color: var.$semantic-border-primary;
  margin: 32px 0;
}

.mainLabel {
  color: var.$semantic-text-icon-primary;
  @include mixins.apply-text-style(b1_bold);
}

.subLabel {
  margin-left: 8px;
  color: var.$semantic-text-icon-secondary;
  @include mixins.apply-text-style(b2_regular);
}
