@use "/src/app/styles/abstracts/mixins";
@use "/src/app/styles/abstracts/variables" as var;

.btnWrap {
  padding: 16px;
  .loginBtn {
    margin-top: 16px;
    padding: 16px;
    width: 100%;
    height: 56px;
    gap: 16px;

    @include mixins.apply-text-style(b1_bold);

    border-radius: var.$radius-radius-lg;
  }

  .loginBtn.naverBtn {
    margin-top: 0;
    color: var.$semantic-text-icon-button-default;
    background-color: #03c75a;
  }

  .loginBtn.googleBtn {
    color: var.$semantic-text-icon-primary;
    background-color: var.$semantic-background-primary;
    border: 1px solid var.$semantic-border-primary;
  }

  .loginBtn.faceBtn {
    color: var.$semantic-text-icon-button-default;
    background-color: #1977f3;
  }
}
