.floatingButton {
    position: fixed;
    right: max(16px, calc((100% - 600px) / 2 + 16px));
    bottom: 80px;
    z-index: 100;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    
    img {
      width: 76px;
      height: 76px;
    }
}