.floatingButton {
    position: fixed;
    right: 16px;
    bottom: 80px;
    z-index: 100;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    
    img {
      width: 76px;
      height: 76px;
    }
  }