@use "/src/app/styles/abstracts/mixins";
@use "/src/app/styles/abstracts/variables" as var;

.profileForm {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 16px 0;
  .errorMessage {
    margin-top: 4px;
    display: flex;
    gap: 4px;
    align-items: center;
    color: var.$primitive-system-error;
    @include mixins.apply-text-style(b2_regular);
    img {
      width: 18px;
      height: 18px;
    }
  }
}
