@use "/src/app/styles/abstracts/mixins";
@use "/src/app/styles/abstracts/variables" as var;

.reviewerInfo {
  margin: 0 0 8px 0;
  height: 40px;

  display: flex;
  gap: 16px;

  position: relative;
  .reviewerInfo__profilePicture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .reviewerInfo__details {
    .reviewerInfo__name {
      color: var.$semantic-text-icon-primary;
      @include mixins.apply-text-style(b1_bold);
    }
    .reviewerInfo__meta {
      display: flex;
      gap: 1px;
      color: var.$semantic-text-icon-secondary;
      @include mixins.apply-text-style(b2_regular);

      .reviewerInfo__rating {
        display: flex;
        gap: 2px;
        color: var.$semantic-text-icon-brand;
        @include mixins.apply-text-style(b2_bold);
        .reviewerInfo__starList {
          display: flex;
        }
      }
    }
  }

  .reviewerInfo__moreIcon {
    cursor: pointer;

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}
