.thumbnailContainer {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  overflow: visible;
  background-color: #ddd;
  cursor: pointer;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.deleteButton {
  position: absolute;
  top: -3px;
  right: -3px;

  svg {
    width: 16px;
    height: 16px;
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 8px;
}
