@use "/src/app/styles/abstracts/mixins";
@use "/src/app/styles/abstracts/variables" as var;

.tag {
  padding: 4px 8px;
  background-color: var.$primitive-secondary-brown50;
  border-radius: var.$radius-radius-sm;
  @include mixins.apply-text-style(l_regular);
}
