@use "@app/styles/abstracts/variables" as var;
@use "@app/styles/abstracts/mixins";

.tag {
  padding: 4px 12px 4px 8px;
  height: 32px;
  border: 1px solid var.$semantic-border-secondary;
  background-color: var.$semantic-background-primary;
  transition: all 0.2s ease;

  &.active {
    background-color: var.$primitive-primary-orange50;
    border-color: #ff8922;
    color: white;

    // .icon {
    //   filter: brightness(0) invert(1);
    // }
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .content {
    color: var.$semantic-text-icon-primary;
    @include mixins.apply-text-style(b2_regular);
  }

  //   &:hover {
  //     background-color: #FF8922;
  //     border-color: #FF8922;
  //     color: white;

  //     .icon {
  //       filter: brightness(0) invert(1);
  //     }

  //     .content {
  //       color: white;
  //     }
  //   }
}
